<section class="check-out pe-10">
  <div class="container mx-auto flex flex-wrap">
    <div class="flex items-center w-full text-center py-10 justify-center">
      <img src="images/secure-payment.png" class="w-14 me-2" alt="" />
      <h2 class="text-black-01 font-bold text-3xl mb-4">Checkout</h2>
    </div>
    <div class="checkout-form w-8/12">
      <form [formGroup]="checkoutForm">
        <div class="relative w-11/12 mx-auto">
          <label for="phone" class="text-gray-650 dark:text-gray-400">
            <i class="fa-solid fa-phone me-1"></i> Phone</label
          >
          <input
            type="tel"
            id="phone"
            class="block w-full px-2.5 py-4 mt-2 text-sm text-black-01 rounded-lg bg-gray-250 focus:border focus:border-primary-500 dark:bg-gray-700 border-0 appearance-none dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 peer"
            placeholder=" "
            formControlName="phone"
          />
        </div>
        @let phoneControl=checkoutForm.controls['phone'];
        @if(phoneControl.errors&& phoneControl.touched){
        <div
          class="flex ps-8 pt-3 mb-7 text-sm text-red-800 rounded-lg dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul>
              @if(phoneControl.hasError('required')){
              <li>Phone is required.</li>

              }
            </ul>
          </div>
        </div>
        }
        <div class="relative w-11/12 mx-auto mt-4">
          <label for="city" class="text-gray-650 dark:text-gray-400"
            ><i class="fa-solid fa-city me-1"></i>City</label
          >
          <input
            type="text"
            id="city"
            class="block w-full px-2.5 py-4 mt-2 text-sm text-black-01 rounded-lg bg-gray-250 focus:border focus:border-primary-500 dark:bg-gray-700 border-0 appearance-none dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 peer"
            placeholder=""
            formControlName="city"
          />
        </div>
        @let cityControl=checkoutForm.controls['city']; @if(cityControl.errors&&
        cityControl.touched){
        <div
          class="flex ps-8 pt-3 mb-7 text-sm text-red-800 rounded-lg dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul>
              @if(cityControl.hasError('required')){
              <li>City is required.</li>

              }
            </ul>
          </div>
        </div>
        }
        <div class="relative w-11/12 mx-auto mt-4">
          <label for="" class="text-gray-650 dark:text-gray-400">
            <i class="fa-solid fa-circle-info me-1"></i> Details</label
          >
          <textarea
            id="details"
            placeholder=""
            formControlName="details"
            class="block w-full px-2.5 py-4 mt-2 text-sm text-black-01 rounded-lg bg-gray-250 focus:border focus:border-primary-500 dark:bg-gray-700 border-0 appearance-none dark:text-white dark:focus:border-blue-500 focus:outline-none focus:ring-0 peer"
          ></textarea>
        </div>
        @let detailsControl=checkoutForm.controls['details'];
        @if(detailsControl.errors&& detailsControl.touched){
        <div
          class="flex ps-8 pt-3 mb-7 text-sm text-red-800 rounded-lg dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul>
              @if(detailsControl.hasError('required')){
              <li>Details is required.</li>

              }
            </ul>
          </div>
        </div>
        }
      </form>
    </div>
    <div class="orders w-4/12 bg-gray-250 pt-4 pb-7 rounded-lg">
      <h3 class="text-black-01 font-semibold text-xl px-4 mb-4">Your Order</h3>
      @for (order of ordersData.products; track $index) {
      <div class="order flex items-center gap-5 px-4 mb-5">
        <img [src]="order.product.imageCover" class="w-16" alt="" />
        <div class="flex flex-col w-full">
          <p class="text-black-01 font-semibold text-sm mb-5">
            {{ order.product.title }}
          </p>
          <div class="flex items-center justify-between">
            <p class="text-primary-500 font-semibold">
              {{ order.price | currency : " EGP " }}
            </p>
            <select
              id="countries"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 py-1 px-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option>{{ order.count }}</option>
            </select>
          </div>
        </div>
      </div>
      }
      <div class="line bg-gray-300 w-full h-0.5 mt-14 mb-5"></div>
      <div class="total-price flex items-center justify-between px-4 mb-10">
        <p class="text-black-01 font-semibold text-xl">Total</p>
        <p class="text-black-01 font-semibold text-xl">
          {{ ordersData.totalCartPrice | currency : " EGP " }}
        </p>
      </div>
      <div class="buttons flex flex-col items-center justify-center gap-2 px-4">
        <button
          type="submit"
          class="text-black-01 w-full disabled:bg-primary-400 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5"
          (click)="submitCash()"
        >
          Pay Cash
        </button>
        <p class="text-black-01">Or</p>

        <button
          type="submit"
          class="text-black-01 w-full disabled:bg-primary-400 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5"
          (click)="submitOnline()"
        >
          Pay Online
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Main modal -->
<div
  tabindex="-1"
  class="overflow-x-hidden fixed top-0 right-0 left-0 z-50 hidden justify-center items-center w-full md:inset-0 max-h-full bg-black/50"
  #modal
>
  <div class="relative p-4 max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
      <!-- Modal body -->

      <div class="p-4 md:p-5 space-y-4 text-black-01">
        <h3
          class="text-xl text-center mx-auto font-semibold dark:text-white pb-5 w-3/4"
        >
          Thank you for shopping with us,{{ userData.name }}!
        </h3>
        @for (item of ordersData.products; track $index) {
        <div class="flex items-center justify-between">
          <p class="text-black-01 max-w-lg">{{ item.product.title }}</p>
          <p class="text-black-01">{{ item.price | currency : "EGP " }}</p>
        </div>
        }
        <div class="tax-price flex items-center justify-between">
          <p>Tax</p>
          <p>{{ cashData.taxPrice | currency : "EGP " }}</p>
        </div>
        <div class="shipping-price flex items-center justify-between">
          <p class="text-black-01">Shipping</p>
          <p>{{ cashData.shippingPrice | currency : "EGP " }}</p>
        </div>
        <div
          class="total-price flex items-center justify-between font-bold pb-4"
        >
          <p>Total</p>
          <p>{{ cashData.totalOrderPrice | currency : "EGP " }}</p>
        </div>
        <div class="line bg-gray-300 h-0.5 w-3/4 mx-auto"></div>
        <div class="payment-method flex items-center justify-between pt-5">
          <p class="font-bold">Payment Method</p>
          <p>{{ cashData.paymentMethodType }}</p>
        </div>
        <div class="adress flex items-center justify-between mb-3">
          <p class="font-bold">Shipping Address</p>
          <p>{{ cashData.shippingAddress?.city }}</p>
        </div>
        <button
          routerLink="/allorders"
          type="button"
          class="text-black-01 w-full disabled:bg-primary-400 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5"
        >
          View All Orders
        </button>
      </div>
    </div>
  </div>
</div>
