<section class="details pt-9">
  <div class="container mx-auto flex gap-10">
    <div class="product-img w-6/12">
      <img
        [src]="productData.imageCover"
        class="w-11/12 h-[58%] object-cover mx-auto rounded-2xl"
        alt=""
        #coverImage
      />
      <div class="images-slider mt-6">
        <owl-carousel-o [options]="customOptions">
          @for (image of productData.images; track $index) {
          <ng-template carouselSlide>
            <img
              [src]="image"
              class="w-36 h-36 object-cover rounded-2xl pointer-events-auto z-50 cursor-pointer"
              alt=""
              (click)="changeImg($event)"
            />
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
    <div class="product-data w-6/12 px-3">
      <div class="brand mb-1">
        <p class="text-gray-450 font-medium">
          {{ productData.brand?.name }}
        </p>
      </div>
      <div class="title mb-3.5">
        <p class="text-black font-semibold text-2xl dark:text-white">
          {{ productData.title }}
        </p>
      </div>
      <div class="description mb-3">
        <p class="text-gray-450">{{ productData.description }}.</p>
      </div>
      <div class="flex justify-between mb-6">
        <div class="price">
          <p class="text-black font-bold text-xl dark:text-white">
            <span class="font-normal me-2">Price : </span
            >{{ productData.price | currency : "EGP " }}
          </p>
        </div>
        <div class="rating">
          <p class="text-gray-450 font-semibold">
            {{ productData.ratingsAverage
            }}<i class="fa-solid fa-star ms-2 text-primary-500"></i>
          </p>
        </div>
      </div>
      <div class="quantity">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-2">
            <button class="bg-primary-500 text-black-01 h-7 px-2 text-[18px]">
              <i class="fa-solid fa-plus mt-1.5"></i>
            </button>
            <p class="to-black-01 text-[18px] dark:text-white">0</p>
            <button class="bg-primary-500 text-black-01 h-7 px-2 text-[18px]">
              <i class="fa-solid fa-minus mt-1.5"></i>
            </button>
          </div>
          <div class="add-to-cart">
            <button
              class="block text-black-01 disabled:bg-primary-400 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5"
              (click)="addToCart(productData._id)"
            >
              <i class="fa-solid fa-cart-plus me-2"></i> Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
