<section class="details pt-9 px-2 smd:px-5 md:px-10 md:pt-0 lmd:pt-8 lg:px-0">
  <div
    class="container mx-auto flex flex-wrap gap-7 md:items-center lg:gap-0 lg:items-stretch"
  >
    <div class="product-img w-full lg:w-6/12">
      <img
        [src]="productData.imageCover"
        class="w-10/12 h-96 lmd:w-9/12 lg:w-11/12 lg:h-[58%] object-cover mx-auto rounded-2xl"
        alt=""
        #coverImage
      />
      <div class="images-slider mt-8 px-4">
        <owl-carousel-o [options]="customOptions()">
          @for (image of productData.images; track $index) {
          <ng-template carouselSlide>
            <img
              [src]="image"
              class="w-20 h-36 object-cover rounded-2xl pointer-events-auto z-50 cursor-pointer"
              alt=""
              (click)="changeImg($event)"
            />
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
    <div class="product-data w-full lg:w-6/12 ps-5 px-3">
      <div class="brand mb-1">
        <p class="text-gray-450 font-medium">
          {{ productData.brand?.name }}
        </p>
      </div>
      <div class="title mb-3.5">
        <p
          class="text-black font-semibold md:text-xl ssm:text-2xl dark:text-white"
        >
          {{ productData.title }}
        </p>
      </div>
      <div class="description mb-3 text-sm md:text-[16px]">
        <p class="text-gray-450">{{ productData.description }}.</p>
      </div>
      <div class="flex justify-between mb-6">
        <div class="price">
          <p
            class="text-black font-bold text-[16px] ssm:text-xl dark:text-white"
          >
            <span class="font-normal me-2">Price : </span
            >{{ productData.price | currency : "EGP " }}
          </p>
        </div>
        <div class="rating">
          <p class="text-gray-450 font-semibold">
            {{ productData.ratingsAverage
            }}<i class="fa-solid fa-star ms-2 text-primary-500"></i>
          </p>
        </div>
      </div>
      <div class="quantity">
        <div
          class="flex items-center justify-center flex-wrap gap-5 xssm:justify-between"
        >
          <div class="flex items-center space-x-2">
            <button
              class="bg-primary-500 text-black-01 h-7 px-2 text-[18px]"
              (click)="increaseQuantity()"
            >
              <i class="fa-solid fa-plus mt-1.5"></i>
            </button>
            <p class="to-black-01 text-[18px] dark:text-white">
              {{ quantity() }}
            </p>
            <button
              class="bg-primary-500 text-black-01 h-7 px-2 text-[18px]"
              (click)="decreaseQuantity()"
            >
              <i class="fa-solid fa-minus mt-1.5"></i>
            </button>
          </div>
          <div class="add-to-cart">
            <button
              class="block text-black-01 disabled:bg-primary-400 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5"
              (click)="addToCart(productData._id)"
            >
              <i class="fa-solid fa-cart-plus me-2"></i> Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="related-products px-7 mt-8 xl:-mt-20">
  <div class="container mx-auto">
    <h2 class="text-black-01 font-semibold text-2xl py-14 dark:text-white">
      You May Also Like
    </h2>
    <owl-carousel-o [options]="customOptions2()">
      @for (product of relatedProducts(); track $index) {
      <ng-container>
        <ng-template carouselSlide>
          <div class="w-full shadow-sm rounded-lg pb-2">
            <a [routerLink]="['/details', product.id]">
              <div class="card-img rounded-lg">
                <img
                  class="rounded-lg w-full object-contain h-80"
                  [src]="product.imageCover"
                  alt="product image"
                />
              </div>
              <div class="card-body px-3 py-4">
                <div class="title mb-1">
                  <h5
                    class="font-semibold text-black-01 line-clamp-1 dark:text-white"
                  >
                    {{ product.title }}
                  </h5>
                </div>
                <div class="description mb-4">
                  <p class="text-gray-450 text-sm line-clamp-1">
                    {{ product.description }}
                  </p>
                </div>

                <div
                  class="flex justify-between items-center space-x-3 rtl:space-x-reverse"
                >
                  <div class="price mb-2">
                    <p class="text-primary-500 font-semibold">
                      {{ product.price | currency : "EGP " }}
                    </p>
                  </div>
                  <div class="ratings flex items-center space-x-2">
                    <svg
                      class="w-4 h-4 text-primary-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 22 20"
                    >
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                      />
                    </svg>
                    <span class="text-gray-650 text-xs ms-3"
                      >{{ product.ratingsAverage }}
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </ng-template>
      </ng-container>

      }
    </owl-carousel-o>
  </div>
</section>
