<div class="auth-slider p-1 hidden mmd:block">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img
        src="images/1.jpg"
        class="w-full h-full object-cover rounded-3xl"
        alt=""
      />
      <div
        class="bg-gradient-to-b from-white/40 to-black/70 flex items-end text-xl font-semibold text-white absolute top-0 end-0 w-full h-full rounded-3xl"
      >
        <p class="w-1/2 pb-28 ps-4">Trendy, affordable, and just for you!</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="images/2.jpg"
        class="w-full h-full object-cover rounded-3xl"
        alt=""
      />
      <div
        class="bg-gradient-to-b from-white/40 to-black/70 flex items-end text-xl font-semibold text-white absolute top-0 end-0 w-full h-full rounded-3xl"
      >
        <p class="w-1/2 pb-28 ps-4">Everything you need, all in one place!</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="images/5.jpg"
        class="w-full h-full object-cover rounded-3xl"
        alt=""
      />
      <div
        class="bg-gradient-to-b from-white/40 to-black/70 flex items-end text-xl font-semibold text-white absolute top-0 end-0 w-full h-full rounded-3xl"
      >
        <p class="w-1/2 pb-28 ps-4">Why pay more? Shop smarter!</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="images/3.jpg"
        class="w-full h-full object-cover rounded-3xl"
        alt=""
      />
      <div
        class="bg-gradient-to-b from-white/40 to-black/70 flex items-end text-xl font-semibold text-white absolute top-0 end-0 w-full h-full rounded-3xl"
      >
        <p class="w-1/2 pb-28 ps-4">Your perfect find is just a click away!</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="images/4.jpg"
        class="w-full h-full object-cover rounded-3xl"
        alt=""
      />
      <div
        class="bg-gradient-to-b from-white/40 to-black/70 flex items-end text-xl font-semibold text-white absolute top-0 end-0 w-full h-full rounded-3xl"
      >
        <p class="w-1/2 pb-28 ps-4">Limited time, unlimited style!</p>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
