<div class="min-h-screen flex flex-col items-center justify-center">
  <div class="text-center">
    <!-- 404 Text -->
    <h1 class="text-9xl font-bold text-black-01 dark:text-gray-450">404</h1>
    <p class="text-2xl text-gray-600 mt-4 dark:text-gray-400">
      Oops! Page not found.
    </p>
    <p class="text-lg text-gray-500 mt-2">
      The page you're looking for doesn't exist or has been moved.
    </p>

    <!-- Back to Home Button -->
    <a
      routerLink="/home"
      class="mt-8 inline-block px-6 py-3 bg-primary-500 text-black-01 font-semibold rounded-lg transition duration-300"
    >
      Go Back Home
    </a>
  </div>
</div>
