.active {
  i {
    color: #ffc831;
  }
  .category-icon {
    color: #ffc831;
  }
}

.active {
  &::before {
    border-style: solid;
    border-width: 20px 0px 20px 10px;
    border-color: transparent transparent transparent #ffc831;
  }
}

.text-gray-900 {
  color: #919eab;
  i {
    color: #ffc831;
  }
}

#accordion-open-heading-1 .bg-gray-100 {
  background-color: transparent;
  &::before {
    border-style: solid;
    border-width: 20px 0px 20px 10px;
    border-color: transparent transparent transparent #ffc831;
  }
}
