<section class="cart py-7 px-0 md:px-4">
  <div class="container mx-auto">
    <div
      class="title flex items-center justify-between text-black-01 font-semibold p-3 rounded-xl bg-gray-250/60 border mb-6 dark:text-white dark:bg-black-03/60 dark:border-black-04"
    >
      <div class="flex items-center">
        <svg
          class="w-7 me-2 dark:text-primary-500"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7 18C5.9 18 5.01 18.9 5.01 20C5.01 21.1 5.9 22 7 22C8.1 22 9 21.1 9 20C9 18.9 8.1 18 7 18ZM1 2V4H3L6.6 11.59L5.25 14.04C5.09 14.32 5 14.65 5 15C5 16.1 5.9 17 7 17H19V15H7.42C7.28 15 7.17 14.89 7.17 14.75L7.2 14.63L8.1 13H15.55C16.3 13 16.96 12.59 17.3 11.97L20.88 5.48C20.96 5.34 21 5.17 21 5C21 4.45 20.55 4 20 4H5.21L4.27 2H1ZM17 18C15.9 18 15.01 18.9 15.01 20C15.01 21.1 15.9 22 17 22C18.1 22 19 21.1 19 20C19 18.9 18.1 18 17 18Z"
          />
        </svg>
        <h2 class="text-sm ssm:text-xl">{{ "shopping_cart" | translate }}</h2>
      </div>

      <p
        class="text-sm ssm:text-[16px] bg-primary-500/60 py-0.5 px-4 rounded-xl dark:bg-primary-500 dark:text-black-03"
      >
        @if(numberOfCartItems() >=2 || numberOfCartItems() === 0){
        {{ numberOfCartItems() }} {{ "items" | translate }} } @else{
        {{ numberOfCartItems() }} {{ "item" | translate }}
        }
      </p>
    </div>
    @if (numberOfCartItems()>0) {
    <div class="products">
      @for (product of cartData.products; track $index) {
      <div
        class="product-card py-0 relative flex items-center space-x-2 bg-gray-white border border-gray-250 shadow-black-01 shadow-md rounded-xl mb-7 dark:border-black-04"
      >
        <div class="card-img w-2/12">
          <img
            [src]="product.product.imageCover"
            class="w-full ssm:h-40 smd:h-auto md:h-40 object-cover rounded-s-xl"
            alt=""
          />
        </div>
        <div class="card-body w-7/12">
          <div class="flex items-center">
            <h3
              class="text-sm ssm:text-[16px] text-black-01 font-semibold me-2 mb-2 dark:text-white"
            >
              {{ product.product.title }}
            </h3>
          </div>
          <div class="rating">
            <p class="text-black-01 text-sm">
              @for (star of generateStars(product.product.ratingsAverage); track
              $index) {
              <i [class]="star"></i>
              }
              {{ product.product.ratingsAverage }}
            </p>
          </div>
        </div>
        <div
          class="line w-0.5 h-2/3 absolute bg-gray-450 end-[30%] ssm:end-[22%] smd:end-[26%] md:end-[22%]"
        ></div>
        <div
          class="card-footer py-3 flex flex-col justify-center font-semibold text-center w-4/12 ssm:w-3/12"
        >
          <div class="flex items-center justify-center space-x-2 mb-4">
            <button
              class="bg-primary-500 text-black-01 h-6 ssm:h-7 px-2 text-sm ssm:text-[18px] rounded-lg"
              (click)="updateQuantity(product.product._id, product.count + 1)"
            >
              <i class="fa-solid fa-plus mt-1.5"></i>
            </button>
            <p class="to-black-01 text-sm ssm:text-[18px] dark:text-white">
              {{ product.count }}
            </p>
            <button
              class="bg-primary-500 text-black-01 h-6 ssm:h-7 px-2 text-sm ssm:text-[18px] rounded-lg"
              (click)="updateQuantity(product.product._id, product.count - 1)"
            >
              <i class="fa-solid fa-minus mt-1.5"></i>
            </button>
          </div>
          <div class="price text-black-01 dark:text-white">
            {{ product.price | currency : " " }}
            <p class="text-gray-450 text-sm mt-1">EGP</p>
          </div>
        </div>
        <div
          class="remove-card transition-all duration-700 flex items-center justify-center absolute top-0 -end-2 smd:-top-0.5 md:-top-0 -translate-y-1/2 bg-slate-300 text-red-500 rounded-full w-5 h-5 ssm:w-6 ssm:h-6 smd:w-5 smd:h-5 md:w-6 md:h-6 dark:bg-white"
        >
          <button (click)="removeItem(product.product._id)">
            <i class="fa-solid fa-xmark text-sm ssm:text-[16px]"></i>
          </button>
        </div>
      </div>

      }
      <div class="btns flex justify-between items-center mt-12">
        <button
          [routerLink]="['/checkout', cartId]"
          class="block text-black-01 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5 shadow-primary-500 shadow-md"
        >
          {{ "pay_now" | translate }}
        </button>
        <button
          class="block text-white bg-red-400 hover:bg-red-500 transition-all duration-300 font-medium px-5 py-2.5 shadow-red-500 shadow-md"
          (click)="clearCart()"
        >
          {{ "clear_cart" | translate }}
        </button>
      </div>
    </div>
    }@else {
    <div
      class="empty-cart flex flex-col justify-center items-center text-center"
    >
      <img src="/images/empty-cart.png" class="w-[30%] mb-3" alt="" />
      <h2
        class="text-black-01 font-semibold text-xl md:text-2xl mb-3 dark:text-white"
      >
        {{ "emptyCart.title" | translate }}
      </h2>
      <p
        class="text-gray-450 text-16px md:text-xl w-full lmd:w-3/4 xl:w-1/2 dark:text-gray-400"
      >
        {{ "emptyCart.description" | translate }}
      </p>
      <a
        routerLink="/home"
        class="block w-full ssm:w-3/4 smd:w-[60%] mmd:w-3/4 lmd:w-1/2 mx-auto mt-12 text-black-01 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5 shadow-primary-500 shadow-md"
      >
        <i class="fa-solid fa-arrow-left me-2"></i>
        {{ "emptyCart.shopButton" | translate }}
      </a>
    </div>
    }
  </div>
</section>
