<nav
  class="bg-white border-gray-200 dark:bg-transparent"
  [class]="{
'drop-shadow-md':!isLogin(),
'px-4':!isLogin(),

  }"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-2 px-0 gap-3 lmd:flex-row relative"
    [class.flex-col-reverse]="isLogin()"
  >
    <!----- Logo ------>
    @if(isLogin() == false){
    <a
      href="https://flowbite.com/"
      class="logo flex items-center space-x-1 rtl:space-x-reverse text-center"
    >
      <img src="images/shopify.png" class="h-10 smd:h-16" alt="Flowbite Logo" />
      <span
        class="self-center text-[18px] smd:text-2xl font-bold whitespace-nowrap text-black-01 dark:text-white"
        >Shopify</span
      >
    </a>
    }

    <!----- Search ------>
    @else{
    <div class="relative">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-600 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        id="default-search"
        class="block w-[250px] xssm:w-[350px] smd:w-[410px] mmd:w-[350px] md:w-[410px] lmd:w-56 p-2 ps-10 text-sm text-[#212b36] rounded-full bg-[#f3f5f7] border-transparent outline-none focus:outline-none placeholder:text-[#212b36] transition-all duration-300 dark:bg-black-02 dark:placeholder-gray-650 dark:text-white dark:focus:border-primary-500"
        placeholder="{{ 'navbar.search.placeholder' | translate }}"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />
    </div>
    }

    <!----- Nav Items ------>
    <div
      class="nav-links flex items-center justify-center gap-4 w-full lmd:gap-6"
      [class]="{
        'xssm:w-3/4': isLogin(),
        'xssm:justify-between': isLogin(),
        'ssm:w-4/5': isLogin(),
        'smd:w-full': isLogin(),
        'md:w-[85%]': isLogin(),
        'lmd:w-auto': isLogin()
      }"
      [class.ssm:w-auto]="!isLogin()"
      id="navbar-language"
    >
      <!----- Dark  Mood Icon------>
      <div
        class="dark-icon text-2xl ssm:static ssm:top-0 ssm:end-0 text-gray-450 cursor-pointer dark:text-gray-650"
        [class]="{
          'absolute': !isLogin(),
          'top-3': !isLogin(),
          'end-2': !isLogin(),


        }"
      >
        <i
          class="fa-solid fa-moon"
          (click)="changeTheme(isDarkMode() ? 'light' : 'dark')"
        ></i>
      </div>

      @if(isLogin() == true){
      <!----- Notification Icon------>
      <div
        class="notification-icon text-2xl text-gray-450 relative inline-flex items-center text-center dark:text-gray-650"
      >
        <i class="fa-solid fa-bell"></i>
        <div
          class="absolute block w-3 h-3 bg-primary-500 border-2 border-white rounded-full -top-0.5 start-2.5 dark:border-gray-900"
        ></div>
      </div>
      <!----- Shopping Icon------>
      <div class="shopping-icon relative">
        <a
          routerLink="/cart"
          class="shopping-icon text-2xl text-gray-450 mb-1 dark:text-gray-650"
          ><i class="fa-solid fa-cart-shopping"></i
        ></a>
        <div
          class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-black-01 bg-primary-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900"
        >
          {{ numberOfCartItems() }}
        </div>
      </div>

      }

      <!----- Languages ------>
      <div
        class="languages ssm:static ssm:top-0 ssm:end-0 flex items-center space-x-1 md:space-x-0 rtl:space-x-reverse"
        [class]="{
          'absolute': !isLogin(),
          'top-3': !isLogin(),
          'end-10': !isLogin(),


        }"
      >
        <!----- Language Button ------>
        <button
          type="button"
          class="inline-flex items-center font-medium justify-center p-2 text-sm text-black-01 dark:text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white"
          (click)="changeLang()"
        >
          <svg
            class="w-5 h-5 rounded-full me-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 3900 3900"
          >
            <path fill="#b22234" d="M0 0h7410v3900H0z" />
            <path
              d="M0 450h7410m0 600H0m0 600h7410m0 600H0m0 600h7410m0 600H0"
              stroke="#fff"
              stroke-width="300"
            />
            <path fill="#3c3b6e" d="M0 0h2964v2100H0z" />
            <g fill="#fff">
              <g id="d">
                <g id="c">
                  <g id="e">
                    <g id="b">
                      <path
                        id="a"
                        d="M247 90l70.534 217.082-184.66-134.164h228.253L176.466 307.082z"
                      />
                      <use xlink:href="#a" y="420" />
                      <use xlink:href="#a" y="840" />
                      <use xlink:href="#a" y="1260" />
                    </g>
                    <use xlink:href="#a" y="1680" />
                  </g>
                  <use xlink:href="#b" x="247" y="210" />
                </g>
                <use xlink:href="#c" x="494" />
              </g>
              <use xlink:href="#d" x="988" />
              <use xlink:href="#c" x="1976" />
              <use xlink:href="#e" x="2470" />
            </g>
          </svg>
          {{ "navbar.languages.current" | translate }}
        </button>
      </div>

      @if(isLogin() == true){

      <!----- Avatar Image ------>
      <div class="flex flex-col items-center justify-center">
        <div
          class="avatar outline-1 outline-dashed outline-primary-500 w-10 h-10 rounded-full cursor-pointer flex items-center justify-center"
        >
          <img
            src="images/avatar.jpg"
            class="w-8 h-8 rounded-full object-cover"
            alt=""
          />
        </div>
        <p class="text-black-01 text-xs dark:text-white mt-2">
          {{ userData.name }}
        </p>
      </div>
      }

      <!-- Login NavarBar  -->
      @if(isLogin() == false){
      <ul
        class="flex justify-evenly items-center font-medium w-[60%] xssm:w-1/2 py-1 px-0 ssm:w-auto smd:py-2 ssm:px-3 text-sm smd:text-[16px] mt-0 border border-gray-100 bg-gray-250 rounded-full md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-black-03"
      >
        <li>
          <a
            routerLink="/register"
            routerLinkActive="active bg-primary-500 dark:text-black-01 "
            class="block py-1 px-4 smd:px-6 text-black-01 text-nowrap rounded-full transition-colors duration-200 ease-in-out hover:text-primary-500 dark:text-white"
            >{{ "navbar.auth.signUp" | translate }}</a
          >
        </li>
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active bg-primary-500 dark:text-black-01"
            class="block py-1 px-4 smd:px-6 text-black-01 rounded-full transition-colors duration-200 ease-in-out hover:text-primary-500 dark:text-white"
            >{{ "navbar.auth.login" | translate }}</a
          >
        </li>
      </ul>
      }
    </div>
    <!--
    <button
      data-collapse-toggle="navbar-language"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-language"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button> -->
  </div>
</nav>
