<section class="wish-list pt-5">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
      @for (product of wishListData() | search:searchTerm(); track $index) {
      <div
        class="w-full shadow-sm rounded-lg border border-gray-150 relative dark:bg-transparent dark:border-none pb-2 group/container"
      >
        <div
          class="icon bg-gray-250 w-9 h-9 rounded-full flex items-center justify-center absolute top-2 end-2 z-50 cursor-pointer"
        >
          <button (click)="toggleWishlistItem(product._id)">
            <i
              class="fa-solid fa-heart transition-all duration-300 scale-100 hover:scale-150"
              [class]="{
                'text-red-500': isInWishlist(product._id),
                'text-gray-650': !isInWishlist(product._id)
              }"
            ></i>
          </button>
        </div>
        <a [routerLink]="['/details', product._id]">
          <div
            class="card-img rounded-lg overflow-hidden relative group/imgContainer"
          >
            <img
              class="rounded-lg w-full object-cover h-96 transition-all duration-300 group-hover/container:scale-110"
              [src]="product.imageCover"
              alt="product image"
            />
            <div
              class="overlay absolute top-0 end-0 flex justify-end w-full h-full bg-gray-450/40 rounded-lg transition-all duration-300 opacity-0 group-hover/imgContainer:opacity-100 dark:hover:bg-black/40"
            ></div>
          </div>
          <div class="card-body flex px-3 py-4">
            <div class="avatar w-2/12">
              <img
                class="w-8 h-8 rounded-full"
                src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                alt="Rounded avatar"
              />
            </div>
            <div class="info w-10/12">
              <div class="title mb-1">
                <h5
                  class="text-sm font-semibold text-gray-850 dark:text-white line-clamp-1"
                >
                  {{ product.title }}
                </h5>
              </div>
              <div class="description mb-4">
                <p
                  class="text-gray-650 text-sm dark:text-gray-450 line-clamp-1"
                >
                  {{ product.description }}
                </p>
              </div>
              <div class="price mb-2">
                <p class="text-primary-500 font-semibold text-sm">
                  {{ product.price | currency : "EGP " }}
                </p>
              </div>
              <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <div class="sales">
                  <p class="text-gray-650 text-xs dark:text-gray-450">
                    {{
                      product.sold >= 1000
                        ? product.sold.toLocaleString()
                        : product.sold
                    }}
                    sales
                  </p>
                </div>
                <div class="ratings flex items-center space-x-2">
                  <svg
                    class="w-4 h-4 text-primary-500"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 22 20"
                  >
                    <path
                      d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                    />
                  </svg>
                  <span class="text-gray-650 text-xs dark:text-gray-450 ms-3"
                    >{{ product.ratingsAverage }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="add-to-cart absolute end-4 bottom-6">
          <button
            class="text-gray-650 hover:text-primary-500 hover:scale-125 transition-all duration-300 bg-gray-150 w-9 h-9 rounded-full flex items-center justify-center dark:text-white dark:bg-black-02"
            (click)="addToCart(product._id)"
          >
            <i class="fa-solid fa-cart-plus"></i>
          </button>
        </div>
      </div>
      }@empty{ @if(searchTerm()){

      <div class="not-found col-span-full mx-auto text-center py-20">
        <div class="not-found-icon mb-6">
          <img src="images/not-found.png" class="w-1/4 mx-auto" alt="" />
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">
          No Results Found
        </h3>
        <p class="text-gray-600 mb-6">
          We couldn't find any products matching
          <span class="font-bold">"{{ searchTerm() }}"</span>.
        </p>
      </div>
      }@else {
      <div class="empty-wishlist col-span-full text-center mx-auto py-20">
        <div class="empty-wishlist-icon mb-6">
          <img src="images/wishlist.png" class="w-1/4 mx-auto" alt="" />
        </div>
        <h3 class="text-xl font-semibold text-gray-800 mb-4">
          Your Wishlist is Empty
        </h3>
        <p class="text-gray-600 mb-4">
          You haven't added any products to your wishlist yet.
        </p>
        <a
          routerLink="/home"
          class="block w-1/2 mx-auto mt-5 text-black-01 bg-primary-400 hover:bg-primary-500 transition-all duration-300 font-medium px-5 py-2.5 shadow-primary-500 shadow-md"
        >
          Explore Products
        </a>
      </div>
      } }
    </div>
  </div>
</section>
