<section class="brands">
  <div class="container mx-auto">
    <div class="title text-center">
      <p class="text-black-01 pt-10 pb-7 dark:text-white">
        Your Favorite Brands, All in One Place!
      </p>
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5"
    >
      @for (brand of brandsList() ; track $index) {
      <div
        class="brand-card bg-white shadow-gray-450 shadow-md py-5 transition-all duration-300 hover:scale-105 dark:bg-transparent dark:shadow-none"
      >
        <div
          class="title text-center text-sm text-black-01 pb-3 dark:text-white"
        >
          <p>{{ brand.name }}</p>
        </div>
        <div class="brand-img">
          <img [src]="brand.image" class="w-full" alt="" />
        </div>
      </div>
      }
    </div>
  </div>
</section>
